.quiz {
    border: 5px solid lightgray;
    display: flex;
    flex-direction: column;
}

.questionContainer {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    flex: 1;
}

.solution {
    height: 100px;
}
